services:
  backend:
    build: 
      context: ./backend
    ports:
      - "8000:8000"
    environment:
      DB_HOST: host.docker.internal
      DB_USER: root
      DB_PASSWORD: "Joaolopes05:"
      DB_NAME: projeto_codego

  frontend:
    build:
      context: ./frontend
    ports:
      - "80:80"